@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* NORMALIZATION */

*{
    margin : 0px;
    padding: 0px;
    box-sizing: border-box;   
}

body {
    max-width: 1440px;
    margin : 0 auto;
    font-family: Raleway, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header, main, footer {
    margin: 0 5%;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

h2{
    font-weight: 700;
    font-size: 18px;
}

i.fas {
    color: #0065FC;
}

i.fa-info {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 24px;
    height: 24px;
    border: 1px solid  #D9D9D9;
    border-radius: 50%;
    background: none;
    font-size: 12px;
}

i.fa-location-dot {
    border: 10px solid #F2F2F2;
    
}


.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}


/* HEADER */

header {
    margin-bottom: 20px;
    height: 126px;
}

header img {
    width : auto;
    height: 19px;
}
header nav {
    display : flex;
    height :100%;
}
header nav a {
    display : flex;
    height: 100%;
    width : 160px;
    justify-content: center;
    align-items: center;
    border-top: 3px solid transparent;
}
header nav a:hover {
    border-top: 3px solid #0065FC;
}

table {
    border-collapse: collapse;
}

main h1 {
    font-size: 22px;
}

main p {
    gap:10px;
}

.search_bar{
    display: inline-flex;
    align-items: center;
    margin-bottom: 35px;
    height: 49px;
    border-radius: 15px;
    overflow: hidden;
}

.search_bar .fa-location-dot {
    display: flex;
    height: 100%;
    width: 50px;
    border: none;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    color: black;
    
}
.search_form {
    width: 195px;
    height: 100%;
    border-bottom: 1px solid #F2F2F2 ;
    border-top: 1px solid #F2F2F2;
}

.search_form input {
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 24px;
}
.search_form input:focus {
    outline: none;
}

.search_button {
    width: 100px;
    height: 100%;
    position: relative;
}

.search_button i{
    display: none;
    position: absolute;
    top: 0;
    left: 20px;
    color: white;
}

.search_button input {
    display: flex;
    background-color: #0065FC;
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    justify-content: center;
    outline: none;
}
.search_button input:active,
.search_button input:focus {
    border: none;
    outline: none;
}


.ranking_stars .fa-star{
    color: #F2F2F2;
    font-size: 12px;
}

.ranking_1 .fa-star:nth-child(-n+1){
    color: #0065FC;
}

.ranking_2 .fa-star:nth-child(-n+2){
    color: #0065FC;
}
.ranking_3 .fa-star:nth-child(-n+3){
    color: #0065FC;
}

.ranking_4 .fa-star:nth-child(-n+4){
    color: #0065FC;

}

.ranking_5 .fa-star:nth-child(-n+5){
    color: #0065FC;
}




header, .main_description, .search_bar, .filter_bar {
    margin-top: 0px;
    margin-bottom: 30px;
}






/* MAIN */

/* FILTERS */

.filter_bar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

.filter-wrapper {
    display: flex;
    align-items: center;
}

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 15px;
    gap: 15px 30px;
    width: 100%;
}

.filter {
    display: flex;
    align-items: center;
    gap: 5px;
    border:1px  solid #D9D9D9;
    padding: 10px 13px;
    border-radius: 25px;
}

.filter a {
    font-weight: 700;
    font-size: 17px;
}
.filter:hover {
    background: #DEEBFF;
}

.info {
    display: flex;
    align-items: center;
}


/* HOSTS */

.hosts {
    display : flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 50px;
}
.hosts section {
    background-color: #F2F2F2;
    padding: 30px;
    border-radius: 20px;
}

.hosts section .title {
    margin-bottom: 26px;
}

.section_host {
    width : calc(100% - 470px);
}

.section_popular {
    width : 430px;
}

.cards {
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap : 10px 2%;
    width: 100%;
    margin-bottom: 4rem;
}

.card {
    /* margin : 10px; */
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 210px;
    border-radius : 20px;
    width : 32%;
    box-shadow : 0px 10px 20px 0px #0003;
    overflow: hidden;
}


.card img {
    width : calc(100% - 10px);
    height : 114px;
    min-height: 114px;
    object-fit: cover;
    border-radius : 16px 16px 0 0 ;
    margin : 5px;
}

.card .description {
    padding : 10px 0px 10px 15px;
    height: 100%;

}
.card .description h3 {
    font-size: 16px;
    font-weight: bold;
}
.card .description p {
    font-size: 14px;
    font-weight: normal;
}

.type2 .card {
    flex-direction: row;
    max-height: 144px;
    width: 100%;
}

.type2 .card img {
    border-radius: 16px 0 0 16px;
    height: calc(100% - 10px);
    width: 127px;
}

.card .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


/* Activities */

.heading{
    display: flex;
    justify-content: space-between;
}
.section_activities {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.section_activities h2 {
    width: 100%;
    margin-bottom: 25px;
}

.card_container {
    display : flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
}

.card3 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius : 20px;
    flex: 1;
    width : auto;
    box-shadow : 0px 10px 20px 0px #0003;
    overflow: hidden;
}

.card3 img {
    width: 100%;
    aspect-ratio: 1/1.5;
    object-fit: cover;
}
.card3 h3 {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left : 20px;
    font-size: 1rem;
}


/* FOOTER */

.footer {
    display : flex;
    background-color: #F2F2F2;
    padding: 45px 70px;
    gap: 20px;


}
 /* trying adding a padding to footer */

 .footer h2 {
    font-size: 18px;
    margin-bottom: 20px;
 }

 .footer a {
    font-size: 16px;
    display: block;
    margin-bottom: 12px;
 }

.footer div {
    width : 33%;
}

@media screen and (max-width: 1250px) {
    .cards {
        gap : 10px 4%;
    }
    .card {
        width : 48%;
    }
}
@media screen and (max-width :1024px) {
    .hosts {
        flex-direction: column;
    }
    .section_host,
    .section_popular {
        width : 100%;
    }
    .cards.type2 {
        flex-direction: row;
    }
    .cards {
        gap: 10px 2%;
    }
    .type2 .card {
        width: 32%;
    }
    .card {
        width: 32%;
    }

    .card .description h3{
        font-size: clamp(12px, 1.5vw, 16px);
    }
    .card .description p{
        font-size: clamp(10px, 1.2vw, 14px);
    }

    .type2 .card img {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .hosts {
        flex-direction: column-reverse;
    }

    header, main, footer {
        margin: 0px;
        padding: 0px;
    }

    header, .main_description, .search_bar, .filter_bar{
        margin-left: 20px;
        margin-right: 20px;
    }
    header {
        margin: 0 0 30px 0;
    }
    header img {
        margin-top: 1.25rem;
    }
    header.flex {
        flex-direction: column;
        width: 100%;
    }

    nav {
        width: 100%;
    }
    header nav a {
        width: 50%;
        border-top: unset;
        border-bottom: 3px solid transparent;
    }
    header nav a:hover {
        border-top: unset;
        border-bottom: 3px solid #0065FC;
    }

    .search_bar {
        width: calc(100% - 41px);
        max-width: 332px;
    }

    .search_form {
        width: calc(100% - 100px);
    }

    .search_button {
        width: 49px;
    }

    .search_button i{
        
        display:block;
        top: 16.5px;
        left: 16.5px;
       
    }


    .search_button input {
        color: transparent;
        width: 49px;
        overflow: hidden;
    }

    .filter-wrapper {
        flex-direction: column;
        align-items: start;
        gap:1rem;
    }
    .filters {
        flex-wrap: wrap;
        gap: 14px;
        margin: 0;
    }
    .filter {
        width: calc(50% - 7px);
        min-width: 145px;
    }
    .filter a {
        font-size: 11px;
    }

    .hosts section {
        border-radius: 0px;
    }

    .section_host {
        background-color: #FFF;
    }
    .section_host .card {
        width: 48%;
    }

    .card .description h3 {
        font-size: clamp(12px, 3.5vw, 16px);
        /* font-size: 16px; */
        font-weight: bold;
    }
    .card .description p {
        font-size: clamp(10px, 3.0vw, 14px);
        /* font-size: 14px; */
        font-weight: normal;
    }

    .type2 .card {
        width: 100%;
    }
    .type2 .card img {
        width: 127px;
    }

    .section_activities {
        padding: 0 30px;
    }

    .card_container {
        flex-wrap: wrap;
    }

    .card_container .card3 {
        width: calc(50% - 8px);
        flex: unset;
    }

    .card_container .card3 img {
        aspect-ratio: 1/0.75;
        min-height: 120px;
        max-height: 200px;
    }

    /* FOOTER */
    .footer {
        flex-direction: column;
    }
    
    .footer div{
        width: auto;
    }

}


@media screen and (max-width: 550px) {
    
    .type2 .card img {
        width: clamp(100px, 30%, 127px);
    }

    .section_host .card {
        width: 100%;
    }

    .card_container {
        flex-direction: column;
    }

    .card_container .card3 {
        width: 100%;
        flex: 1;
    }

}